/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

nav {
    a {
        display: inline;
        padding: 6px 6px;
        text-decoration: none;
        color: gray;
    }
    a.active {
        color: rgb(141, 0, 0);
        text-decoration: none;
    }
    a.visited {
        color: gray;
        font-weight: bold;
    }
}